<%- include('partials/header.ejs') %>
    <div class="container">
        <h1 class="page-title">ABOUT US</h1>
        <p>
            <%= content %>
        </p>
    </div>
    <%- include('partials/footer.ejs') %>